.category-container{
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
    background: #f4f4f4;
}

.category img{
    width: 500px;
    height: 600px;
}

.category-text{
    width: 500px;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.category-text:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: ease-in-out 1s;
}

.category-text h1{
    font-size: 50px;
    color: white;
}

.category-text p a{
    font-size: 20px;
    color: white;
}